.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 4px solid var(--primary-color);
}

.toggle {
  cursor: pointer;
  font-size: 22px;
}

.logout:hover, .toggle:hover {
  color: var(--primary-color);
}

.logout {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 32px;
}