/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #6a78d1;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/* Responsive adjustments */
@media (max-width: 480px) {
    .container {
        padding: 30px 20px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.form-container::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc;
    border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}



/* Input field container */
.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Labels */
.form-field label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

/* Input fields */
.form-field input {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s, box-shadow 0.3s;
}

/* Input focus effect */
.form-field input:focus {
    border-color: #6a78d1;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Select wrapper */
.custom-select {
  position: relative;
  width: 100%;
}

.select-box {
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}

.select-box:hover {
  border-color: #6a78d1;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #6a78d1;
}

.dropdown {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  margin-top: 6px;
  list-style: none;
  padding: 6px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  z-index: 100;
  animation: dropdownFade 0.2s ease;
}

.dropdown li {
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.dropdown li:hover {
  background: #f5f6ff;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-date .date-input-wrapper {
    position: relative;
}

.custom-date input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 14px;
    background: #fff;
    transition: all 0.25s ease;
}

/* hide native icon */

.custom-date input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* focus effect */

.custom-date input:focus {
    border-color: #6a78d1;
    box-shadow: 0 0 0 3px rgba(106,120,209,0.15);
    outline: none;
}
/* calendar icon */

.calendar-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.validation-error {
    color: red;
    margin-top: 10px
}

.api-error {
    color: red;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}

.btn-container button {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 18px;
    font-size: 18px;
    cursor: pointer;
    background: #6a78d1;
    color: #fff;
    transition: background-color 0.2s ease
}